In [2]:
#Conjunto vacio de elementos. fUNCION SET PERMITE CREAR UN CONJUNTO Y PASAR ELEMENTOS AL CONJUNTO, EN ESTE CASO NADA
conjunto=set()
conjunto

set()

In [9]:
conjunto={1,2,3}
#convertir lista en conjunto y eliminar datos duplicados
lista=[1,2,3,3,3,2,1]
l=set(lista)
print("Lista convertido en conjunto: ", l)

#convertir conjunto en lista
li=list(l)
print("Conjunto convertido en lista: ",li)

#CONVERTIR LISTA EN CONJUNTO EN UN SOLO COMANDO
LISTA=[1,2,3,3,3,2,1]
LISTA=list(set(lista))
print("Lista convertido en conjunto para eliminar datos duplicados y convertir nuevamente en lista: ",LISTA)

Lista convertido en conjunto:  {1, 2, 3}
Conjunto convertido en lista:  [1, 2, 3]
Lista convertido en conjunto para eliminar datos duplicados y convertir nuevamente en lista:  [1, 2, 3]

In [11]:
#Conjunto con cadena de caracteres
s="Al pan pan y al vino vino"
s=set(s)
s

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [18]:
# Variables del ejercicio (no las modifiques)
grupo = {"Miguel", "Blanca", "Mario", "Andrés"}

# Completa el ejercicio
grupo.add('Ana')
grupo.add('Ramón')
grupo.add('Marta')
grupo.add('David')

grupo.remove('Mario')
grupo.remove('Miguel')
grupo.remove('Ramón')
grupo

{'Ana', 'Andrés', 'Blanca', 'David', 'Marta'}